<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/var/log/personal/market.log</File>
        <encoder>
            <pattern>D:%d{yyyy-MM-dd HH:mm:ss.SSS, UTC}|L:%p|C:%c{1}|F:%F\(%L\)|Fn:%M|T:%thread|R:%X{R} - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>96</maxHistory>
            <totalSizeCap>4GB</totalSizeCap>
            <FileNamePattern>/var/log/personal/market.%d{yyyy-MM-dd_HH}.log.%i.gz</FileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>D:%d{yyyy-MM-dd HH:mm:ss.SSS} L:%p C:%c{1} F:%F\(%L\) Fn:%M T:%thread R:%X{R} - %m%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <!--<appender-ref ref="file"/>-->
        <appender-ref ref="stdout"/>
    </root>
    <root level="ERROR">
        <appender-ref ref="file"/>
        <!--<appender-ref ref="stdout"/>-->
    </root>
    <!--<logger name="com.opal" level="info" additivity="false">
        <appender-ref ref="file" />
    </logger>-->
    <!--<logger name="com.opal" level="trace" additivity="false">
        <appender-ref ref="stdout" />
    </logger>-->
</configuration>
